@each(comment in comments)
    @set('commentmoment',moment(comment.created_at).fromNow())
   
    <div class="bg-white p-4 rounded shadow mb-4">
        <div class="mb-4">
            <span class="font-bold">{{ comment.user.username }}</span>
                <p class="text-gray-700">{{ comment.comments }}</p>
                <p class="right-0 top-0">{{ commentmoment }}</p>
        </div>
    </div>
@endeach